.card {
  width: 200px;
  height: 330px;
  margin: 20px;
  -webkit-box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.69);
  box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.69);

  &:hover {
    -webkit-box-shadow: 15px 21px 13px -6px rgba(0,0,0,0.69);
    -moz-box-shadow: 15px 21px 13px -6px rgba(0,0,0,0.69);
    box-shadow: 15px 21px 13px -6px rgba(0,0,0,0.69);
    cursor: pointer;
  }


  .card-header {
    background-color: $map-1-hex;
    color: $map-4-hex;
    height: 40px;
    width: 100%;
    
    p {
      padding: 10px;
      font-size: $card-font-size;
    }
  }

  .card-body {
    background-color: $map-5-hex;
    img {
      width: 100%;
      height: 250px;
    }
  }

  .card-footer {

    background-color: $map-5-hex;
    height: 40px;

     
    p {
      padding: 2px;
      margin-left: 5px;
      font-size: $card-font-size;
    }
  }
}