nav {
    background-color: $navbar-background;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;

    #lhs-nav {
        width: 150px;
        p {
            margin-top: 10px;
            color: $map-2-hex;
            font-size: 1.5em;
        }
    }
    #rhs-nav {
        width: 60%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        input {
            border-radius: 1em 0 1em 0;
            height: 2em;
            padding: 5px;
            width: 200px;
            font-size: 1.2em;
            
            &::before {
                border: none;
            }
        }
        

    ul.links {
        margin: 10px;
        li {
            color: $navbar-color;
            padding: 5px 10px;
            font-size: 1.2em;
            font-weight: bold;
            position: relative;
            display: inline;

            &:hover{
                color:$navbar-hover;
                cursor: pointer;
            }

            span {
                position: absolute;
                top: -4px;
                right: 0px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: $map-4-hex;
                color: $map-1-hex;
                font-size: 0.7em;
                padding: 4px 6px;
            }
        }
    }

    }


}
