nav {
    background-color: $navbar-background;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;

    #lhs-nav {
        width: 150px;
        p {
            margin-top: 10px;
            color: $map-2-hex;
            font-size: 1.5em;
        }
    }
    #rhs-nav {
        width: 70%;
        padding: 10px;
        margin-right: 20px;

        input {
            border-radius: 1.5em 0 1.5em 0;
            height: 2em;
            padding: 5px;
            width: 200px;
            font-size: 1.2em;
        }
        

    ul.links {
        display: none;
        
        @include sm {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            float: right;
        }

        li {
            color: $navbar-color;
            padding: 5px 10px;
            font-size: 1.5em;
            font-weight: bold;

            &:hover{
                color:$navbar-hover;
                cursor: pointer;
            }
        }
    }

    }


}
