
@mixin modal-popup {

  .modal-visible {
    display: block;
  }

  .modal-hidden {
    display: none;
  }

  .modal-popup {
    background-image: url('/src/assets/background-popup.jpg');
    opacity: 0.95;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-position-y: -20px;
    background-color: azure;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: fixed;
    z-index: 1;
    left: 5%;
    top: 0.1*(100vh);
    width: 90%;
    max-width: 600px;
    height: 80%;
   
    
    -webkit-box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.38);
    border: 2px solid $map-1-hex;
    border-radius: 12px 12px 12px 12px;
      
    h2 {
      text-align: center;
      margin-bottom: $content-spacing;
    }

    p {
      padding: $content-spacing;
      font-size: 0.8em;
    }

    .close-button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      p {
        width: 25px;
        height: 25px;
        font-size: 1.2em;
        font-weight: 700;
        padding: $content-spacing / 5;
        text-align: center;
        color: black;
        background-color: darkgrey;

        &:hover{
          cursor: pointer;
          background-color: gray;
          color: white;
        }
      }
    }
    .modal-content {
    
      width: 100%;
      padding: $content-spacing / 2;
      font-size: 1.1em;
      font-weight: 700;
      line-height: 1.1em;;
      color: $map-2-hex;
      display: grid;
      grid-template-columns: 1.5fr 4fr 1.5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "margin-left content margin-right";
      justify-content: center;
      align-items: left;
      
      .margin-left {
        grid-area: margin-left;
        width: 2%;
      }
      .margin-right {
        grid-area: margin-right;
        width: 2%;
      }
      .popup-content {
        grid-area: content;
          width: 100%;
        p {
            padding: $content-spacing / 2;
        }
        span {
          font-weight: 900;
          color: $map-1-hex;
          
        }
        .rating {
          margin-left: 60px;
        }
      }
    }
  }
}
